@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

* {  
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Segoe UI', sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(#FFDDF3, #FFFFFF);
}

/* Swiper container */
.card-wrapper {
    max-width: 1100px;
    margin: 0 60px 35px;
    padding: 20px 10px;
    overflow: hidden;
}

/* Card */
.card-list .card-item .card-link {
    width: 100%;
    max-width: 400px;
    display: block;
    background: #ffffff;
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid transparent;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
    transition: 0.2s ease;
    margin: auto;
}

.card-list .card-item .card-link:hover {
    border-color: #f05397;
}

.card-list .card-link .card-image {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 10px;
}

.card-list .card-link .badge {
    color: #f05397;
    padding: 8px 16px;
    font-size: 0.95rem;
    font-weight: 500;
    margin: 16px 0 18px;
    background: #ffddf1;
    width: fit-content;
    border-radius: 50px;
}

.card-list .card-link .badge.ariel {
    color: #f05353;
    background: #ffdddd;
}

.card-list .card-link .badge.belle {
    color: #f0c153;
    background: #fff5dd;
}

.card-list .card-link .badge.rapunzel {
    color: #c153f0;
    background: #f9ddff;
}

.card-list .card-link .badge.tiana {
    color: #56f053;
    background: #ddffe2;
}

.card-list .card-link .card-title {
    font-size: 1.19rem;
    color: #000000;
    font-weight: 600;
}

.card-list .card-link .card-button {
    height: 35px;
    width: 35px;
    color: #F05397;
    border-radius: 50%;
    margin: 30px 0 5px;
    background: none;
    cursor: pointer;
    border: 2px solid #f05397;
    transition: 0.4s ease;
}

.card-list .card-link:hover .card-button {
    color: #FFFFFF;
    background: #F05397;
}

nav {
    margin-top: 0;
}

.navigation {
    display: flex;
    align-items: center;
    background-color: #ffb5e0;
    padding: 15px 30px;
    width: 100%;
}

.logo img {
    width: 70px;
}

.nav-links {
    margin-left: 15px;
}

.nav-links h1 {
    margin: 0 0 4px 0;
    font-size: 28px;
    color: #333333;
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
}

.nav-menu a {
    text-decoration: none;
    color: #333;
}

.nav-menu a:hover {
    font-weight: 600;
}