@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', 'Segoe UI', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(#FFDDF3, #FFFFFF);
}

.card-list .card-item .card-link {
    width: 400px;
    display: block;
    background: #ffffff;
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid transparent;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
    transition: 0.2s ease;
}

.card-list .card-item .card-link:hover {
    border-color: #f05397;
}

.card-list .card-link .card-image {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 10px;
}

.card-list .card-link .badge {
    color: #f05397;
    padding: 8px 16px;
    font-size: 0.95rem;
    font-weight: 500;
    margin: 16px 0 18px;
    background: #ffddf1;
    width: fit-content;
    border-radius: 50px;
}

.card-list .card-link .badge.ariel {
    color: #f05353;
    background: #ffdddd;
}

.card-list .card-link .badge.belle {
    color: #f0c153;
    background: #fff5dd;
}

.card-list .card-link .badge.rapunzel {
    color: #c153f0;
    background: #f9ddff;
}

.card-list .card-link .badge.tiana {
    color: #56f053;
    background: #ddffe2;
}

.card-list .card-link .card-title {
    font-size: 1.19rem;
    color: #000000;
    font-weight: 600;
}

.card-list .card-link .card-button {
    height: 35px;
    width: 35px;
    color: #F05397;
    border-radius: 50%;
    margin: 30px 0 5px;
    background: none;
    cursor: pointer;
    border: 2px solid #f05397;
    transition: 0.4s ease;
}

.card-list .card-link:hover .card-button {
    color: #FFFFFFF;
    background: #F05397;
}

.navigation {
    margin-top: 30px;
    background-color: #ffb5e0;
    padding: 14.7px;
}

.nav-container {
    display: flex;
    align-items: center;
}

.logo img {
  width: 70px;
  height: 70px;
  border: 2px black;
}

.nav-links img {
    width: 70px;
    height: 70px;
    object-fit: contain;
}

.nav-links {
    margin-left: 5px;
}

.nav-links h1 {
    margin: 0;
    font-size: 28px;
    color: #333333;
}

nav {
    margin-top: 5px;
}

nav a {
    text-decoration: none;
    color: #333333;
    font-size: 16px;
    margin: 0, 5px;
}

nav a:hover {
    font-weight: bold;
    transition: 0.2s ease;
}

nav span {
    color:#333333;
}